<!-- 
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
    Tip 2: you can also add an image using data-image tag 
-->
<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="@Url.Action("Index", "Friend")" class="simple-text">
                TP03 Friends
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link active" href="@Url.Action("Index", "Friend")">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Friends</p>
                </a>
            </li>            
        </ul>
    </div>
</div>